.OrderForm{
    display: block;
    width: max-content;
    margin: 0 auto;
    padding: 10px;
    
    &__title{
        text-align: center;
    }
    .table {
        
    }

    .number{
        width: 50px;
        align-items: end;
    }
}