.table__content{
    margin: 8px 0px;
    display: flex;
    justify-content: center;
    gap: 80px;
    width: 100%;
    .Box{  
        width: 100%;
        .table__productName{
            width: 100%;
        }
        .table__productCode{
            width: 100%;
    
        }
        .number{
            text-align: right;
        }
    }
}
// .Box{
//     position: relative;
//     .DropDown{
//         position: absolute;
//         width: 80%;
//         border: 2px solid rgba(148, 146, 146, 0.644);
//         border-radius: 5px;
//         font-size: 20px;
//         background-color: aliceblue;
//         padding: 2px 5px;
//         cursor: pointer;
//         z-index: 100;
//     }
// }
