
@import "../Button/index.scss";

#FileInput{
    position: absolute;
    z-index: -1;
    opacity: 0;
}


.MyInput{
    display: flex;
    .MyInputLabel {
        @extend %type-button;
    }
    .FileName{
        width: max-content;
        vertical-align: middle;
    }
}
