@font-face {
	font-family: 'Noto Sans SC'; 
	src: url('../share/fonts/Noto Sans SC/NotoSansSC-Medium.otf'); 
}

body{
    background-color: rgb(240, 240, 240);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans SC';
    font-size: 20px;
    color: rgb(80, 79, 79);
}